/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 19, 2017, 5:03:10 AM
    Author     : aliceliu
*/

@media screen and (min-width:768px){
.navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 200px;
        height: 50px;
        text-align: center;
    }
    
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
.signinform {
        height: 5px;
        border-top: 0;
        border-radius: 5px;
  
}

.siginbutton {
    background-color:white;
    
}

footer {
    margin: 50px 0;
}



/*******nav tab******/
.fading-side-menu.affix-top {
    opacity: 1;
    transition: opacity 1s
}
.fading-side-menu.affix {
    top: 11.5px;
}
.fading-side-menu.affix {
    opacity: 0.2;
    transition: opacity 5s
}
.fading-side-menu.affix:hover {
    opacity: 1;
    transition: opacity 0.3s
}
/* RECOMMENDED STYLING BUT NOT REQUIRED */
.fading-side-menu a {
    color: rgb(102, 102, 102);
}
.fading-side-menu a .fa {
    padding-right:15px;
}


.item-image{
    width: 200px;
    height: 300px;
    background-color: yellow;
}
